<div class="row">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default Summernote Editor</h4>
            <div class="summernote"></div>
        </div>
    </div>
</div>
</div>