<div id="editor">
    <p>اردهندگان این <strong>فیلم عنوان داشته اند از&nbsp;</strong>زمان های قدیم<a dideo-checked="true"
                                                                                   href="http://ssssss">&nbsp;می گفتند
            در محله دره خ</a>رسون مسجدسلیمان، آدم کوتوله ها بودند و زندگی می کردند . آدم کوتوله هایی به شکل انسان و
        حیوان!امامی گفتند نسل شان منقرض شده است ولی حالا ولی دو روز پیش یکی از آدم کوتوله ها با موهای بلند سر از خانه
        یکی از ساکنان این محله درآورده است و فیلم نش<span class="fr-emoticon fr-deletable fr-emoticon-img"
                                                          style="background: url(https://cdnjs.cloudflare.com/ajax/libs/emojione/2.0.1/assets/svg/1f600.svg);">&nbsp;</span>&nbsp;
        کاملا</p>
    <p><img src="/assets/articles/admin_1617709855336.jpg" style="width: 300px;" class="fr-fic fr-dib"></p>
</div>