<div class="container pb-5 mr-3 w-25">
    <div class="row" style="top: 30%">
        <div class="col-md-12 mb-4">
            <h2>ورود به سیستم</h2>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control text-align-left" id="username" placeholder="نام کاربری">
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-lock"></i>
                    </span>
                </div>
                <input type="password" class="form-control text-align-left" id="password" placeholder="کلمه عبور">
            </div>
        </div>
        <div class="col-md-12 d-flex mt-3">
            <a class="btn btn-custom" id="login">ورود</a>
            <a href="/register" class="btn btn-light">ثبت نام</a>
        </div>
        <div class="col-md-12 mt-4">
            <p>
                آیا کلمه عبور خود را فراموش کرده اید؟
                <a href="/forget-password">اینجا کلیک کنید.</a>
            </p>
        </div>
    </div>
</div>
